<div class="row" style="border: 1px solid black;margin: 0;padding: 0">
  <div class="col s3">
    <h4>All Post</h4>
  </div>
  <div class="col s7"></div>
  <div class="col s2">
    <button (click)="select()" class="btn btn default" style="margin-top: 10%">New Post</button>
  </div>
</div>

<div class="row" style="border: 1px solid black;margin: 0;padding: 0 ">
  <div class="col s3" style="padding: 0;margin:0;padding-left: 7%">
    <form action="javascript:void(0)">
    <input class="target" type="text"  #titleSearch (keypress)="onChange(titleSearch.value)"  class="form-control" placeholder="Search By Post Title">
    </form>
  </div>
  <div class="col s1">
    <button class="btn btn-default" type="button" style="margin-top: 10%">
      <i class="glyphicon glyphicon-search"></i></button>
  </div>
</div>

<div class="row" style="border: 1px solid black;margin:0;padding: 0; max-height: 520px;overflow-y: auto;">
  <div *ngFor="let blog of filterBlogs">
    <div class="col s12 m12">
      <div class="card horizontal">
        <div>
          <i style="cursor: pointer;color: lightcoral" *ngIf="user.favourites.includes(blog.id)=== false" (click)="toggleFav(blog.id,true)" class="small material-icons">favorite_border</i>
          <i style="cursor: pointer;color: lightcoral" *ngIf="user.favourites.includes(blog.id) === true" (click)="toggleFav(blog.id,false)" class="small material-icons">favorite</i>
        </div>
        <div class="card-image" style="margin-right: 10px; height: 20%;width: 20%;padding: 10px">
          <img src={{blog.imgUrl}}>
        </div>
        <div class="card-stacked" style="margin-left: 10px">
          <div class="card-content">
            <div class="col s10">
              <p>{{blog.desc}}</p>
            </div>
            <div *ngIf="blog.author.toLowerCase() === author.toLowerCase()">
              <div class="col s1" >
                <i style="cursor: pointer" (click)="deleteBlog(blog.id)" class="small material-icons">delete</i>
              </div>
              <div class="col s1">
                <i style="cursor: pointer" (click)="editMode(blog)" class="small material-icons">create</i>
              </div>
            </div>
          </div>
          <div class="card-action">
            <div class="col s3">
              <p style="color: chocolate;font-size: large;text-transform: uppercase">{{blog.author}}</p>
            </div>
            <div class="col s3">
              <p style="color: darkcyan;font-size: large;text-transform: capitalize">{{blog.title}}</p>
            </div>
            <div class="col s3">
              <p style="color: cornflowerblue;font-size: large;text-transform: capitalize">{{blog.category}}</p>
            </div>
            <div class="col s3">
              <p style="color: indigo;font-size: large;text-transform: capitalize">Last updated {{blog.publishDate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
