<nav class="navbar navbar-default" style="opacity: 0.7; background: transparent;border: 0;padding-top: 15px;">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand logo" href="#">{{websiteName}}</a>
      <!--<img src="assets/logo.gif" style="height: 80px ; width: 100px">-->
    </div>
    <ul class="nav navbar-nav">
      <li *ngFor="let item of menuItems">
        <a class="list" (click) = 'select(item.item,item.id)'>{{item.item}}</a>
      </li>

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li style="padding-top: 10px">
        <input type="text" class="form-control" placeholder="Search">
      </li>
      <li style="margin-right: 50px;padding-top: 10px">
        <button class="btn btn-default" type="button">
        <i class="glyphicon glyphicon-search"></i>
      </button>
      </li>
      <li><a href="#" class="list" (click) = 'select("SignUp",4)'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    </ul>
  </div>
</nav>

<div [ngSwitch]="tab">
  <h3 *ngSwitchCase="1">des1</h3>
  <h2 *ngSwitchCase="2">des2</h2>
  <h1 *ngSwitchCase="3">des3</h1>
  <app-log-in *ngSwitchCase="4"></app-log-in>
</div>
