<div style="background-color: #D54837;padding-top: 1%;">
  <div class="row" style="background-color: chartreuse;margin-left: 1px">
    <div class="col s3">
      <h2>All Post</h2>
    </div>
    <div class="col s7"></div>
    <div class="col s2">
      <button class="btn btn default">New Post</button>
    </div>
  </div>

  <div class="row" style="background-color: green;margin-left: 1px">
    Hello
  </div>

  <div class="row" style="background-color: yellow;margin-left: 1px; height: 525px;flex: 1 1 auto">
    Content
  </div>
</div>
